<launch>
	
	<group ns="fmSensors">
		<node pkg="fmSensors" name="frobit_sensors" type="frobit_sensors" output="screen">
  	 		<param name="subscribe_topic_id" value="/fmCSP/nmea_from_RC" />	
			<param name="adc_topic_id" value="/fmSensors/adc" />
			<param name="encoder_topic_id" value="/fmSensors/encoder" />
		</node>
	</group>

	<group ns="fmExtractors">
	</group>

	<group ns="fmHMI">
	</group>
	
	<group ns="fmProcessors">
	</group>

<group ns="fmDecisionMakers">
 		<node pkg="fmDecisionMakers" name="follow_line" type="line_follow_action.py"/>
 		<node pkg="fmDecisionMakers" name="timed_turn" type="timed_turn_action.py"/>
 		<node pkg="fmDecisionMakers" name="master" type="LineMission.py"/>
 		<node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py"/>
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
	</group>

 	<group ns="fmActuators">
 		<node pkg="fmActuators" name="frobit_actuator" type="frobit_vel_to_nmea" output="screen" >
			<param name="frobit_velocity_sub" value="/fmActuators/velocities"/>
	  		<param name="frobit_nmea_pub" value="/fmCSP/nmea_to_RC"/>
	  		<param name="max_velocity" value="45" />
			<param name="wheel_diameter" value="0.105" />	
			<param name="ticks_pr_round" value="180" />
			<param name="ms_in_between" value="100" />			
		</node>
 	</group>

 	<group ns="fmKinematics">
 		<node pkg="fmKinematics" name="frobit_kinematics" type="frobit_twist_to_vel" output="screen" >
			<param name="frobit_twist_sub" value="/fmKinematics/cmd_vel"/>
	  		<param name="frobit_velocity_pub" value="/fmActuators/velocities"/>
			<param name="frobit_width" value="0.22" />	
		</node>
	</group>
  
	<group ns="fmCSP">
		<node pkg="fmCSP" name="bluetooth_serial_string" type="bluetooth_serial_string" output="screen" >
			<param name="subscriber_topic" value="tx"/>
	  		<param name="publisher_topic" value="rx"/>
			<param name="device" value="bluetooth" />	
			<param name="bluetooth_address" value="00:06:66:04:9E:1E" />
			<param name="termination_character" value="10"/>
			<param name="termination_character_tx" value="10"/>
		</node>

		<node pkg="fmCSP" name="nmea_parser" type="nmea_parser" output="screen">
  	 		<param name="str_to_msg_sub" value="/fmCSP/rx" />	
			<param name="str_to_msg_pub" value="/fmCSP/nmea_from_RC" />
			<param name="msg_to_str_sub" value="/fmCSP/nmea_to_RC" />	
			<param name="msg_to_str_pub" value="/fmCSP/tx" />			
			<param name="use_nmea_checksum" type="boolean" value="true" />
		</node>
	</group>
</launch>

