<launch>
  <group ns="fmTools">
	<node pkg="usb_cam" name="webcam" type="usb_cam_node">
		<param name="pixel_format" value="yuyv"></param>
		<param name="video_device" value="/dev/video0"></param>
		<param name="image_width" value="640"></param>
		<param name="image_height" value="480"></param>
	</node>
  </group>
</launch>
