<launch>
    <node pkg="fmSensors" name="laser_range" type="lms111_node">
        <param name="host" value="192.168.0.10"/>
        <param name="topic_id" value="laser_msg"/>
        <param name="frame_id" value="laser_link"/>
        <param name="invert_output" value="true" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="1.2 0 0.2 0 0 0 base_link laser_link 100"/>
</launch>
