<launch>
	<group ns="fmSensors">
   	 	<node pkg="fmSensors" name="gps_parser" type="gps_node" output="screen">
		    	<param name="subscribe_topic_id" value="/fmCSP/S0_rx" />	
			<param name="publish_topic_id" value="/fmSensors/gpgga_msg" />	 
		</node>
	</group>

	<group ns="fmExtractors">
   	 	<node pkg="fmExtractors" name="gps_state" type="gps_state" output="screen">
		    	<param name="subscribe_topic_id" value="/fmSensors/gpgga_msg" />	
			<param name="publish_topic_id" value="/fmExtractors/gps_state_msg" />	 
		</node>
	</group>

	<group ns="fmProcessors">
	</group>

 	<group ns="fmDecisionMakers">
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
	</group>

 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<group ns="fmCSP">
		<node pkg="fmCSP" name="S0" type="serial_binary" output="screen" >
			<param name="rx" value="S0_rx" />	 
			<param name="tx" value="S0_tx" />	
			<param name="device" value="/dev/ttyACM0" />	
			<param name="baudrate" value="115200" />
			<param name="rx_timeout" value="10"/>
  			<param name="rx_max_chars" value="80"/>
		</node>
	</group>
</launch>

